<div>
    {{ lstViagem }}
    <table>
        <thead>
            <tr>
                <th>Data Saída</th>
                <th>Hora Saída</th>
                <th>Motorista</th>
                <th>Destino</th>
                <th>KM Saída</th>
                <th>KM Chegada</th>
                <th>Hora Chegada</th>
                <th>Data Chegada</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>Masculino</td>
                <td>matheus@matheus.com</td>
                <td>1398891263</td>
                <td>Matheus</td>
                <td>Masculino</td>
                <td>matheus@matheus.com</td>
                <td>1398891263</td>
            </tr>
            <tr>
                <td>Érika</td>
                <td>Feminino</td>
                <td>erika@erika.com</td>
                <td>1278361278</td>
                <td>Matheus</td>
                <td>Masculino</td>
                <td>matheus@matheus.com</td>
                <td>1398891263</td>
            </tr>
            <tr>
                <td>Woody</td>
                <td>Miau</td>
                <td>woody@woody.com</td>
                <td>78782316812</td>
                <td>Matheus</td>
                <td>Masculino</td>
                <td>matheus@matheus.com</td>
                <td>1398891263</td>
            </tr>
            <tr>
                <td>Woody</td>
                <td>Miau</td>
                <td>woody@woody.com</td>
                <td>78782316812</td>
                <td>Matheus</td>
                <td>Masculino</td>
                <td>matheus@matheus.com</td>
                <td>1398891263</td>
            </tr>
            <tr>
                <td>Woody</td>
                <td>Miau</td>
                <td>woody@woody.com</td>
                <td>78782316812</td>
                <td>Matheus</td>
                <td>Masculino</td>
                <td>matheus@matheus.com</td>
                <td>1398891263</td>
            </tr>
        </tbody>
    </table>
</div>