<div>
    <table>
        <thead>
            <tr>
                <th>Data Saída</th>
                <th>Hora Saída</th>
                <th>Motorista</th>
                <th>Destino</th>
                <th>Veículo</th>
                <th>KM Saída</th>
                <th>KM Chegada</th>
                <th>Hora Chegada</th>
                <th>Data Chegada</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lista of list">
                <td>{{lista.dataSaida}}</td>
                <td>{{lista.horaSaida}}</td>
                <td>{{lista.motorista}}</td>
                <td>{{lista.destino}}</td>
                <td>{{lista.veiculo}}</td>
                <td>{{lista.kmSaida}}</td>
                <td>{{lista.kmChegada}}</td>
                <td>{{lista.horaChegada}}</td>
                <td>{{lista.horaChegada}}</td>
            </tr>
        </tbody>
    </table>
</div>